@import "~bootstrap/scss/bootstrap.scss";

body{
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
.container{
    background-color: black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px;
    height: 500px;
    width:155px
}
.circle{
    background-color: grey;
    border-radius: 60px;
    position: relative;
    height: 100px;
    width: 95px;
}
.circle.red{
    background-color: rgb(197, 40, 40);
    
    
}
.circle.yellow{
    background-color: rgb(182, 182, 35);
    
}
.circle.green{
    background-color: rgb(27, 116, 27);
    
}
.letters{
    background-color: grey;
    border-radius: 20px;
    display: flex;
    position: relative;
    bottom: 110%;
    text-align: center;
    
    
}


.reset{
    font-size: 50px;
    background-color: grey;
    border-radius: 30px;
    display: flex;
    position: relative;
    top: 800%;
    margin: auto;
    text-align: center;
    margin-right: 130px;
    
}
.glow.red{
    box-shadow:20px 20px 20px 15px rgb(255, 0, 0);
}
.glow.yellow{
    box-shadow:20px 20px 20px 15px yellow;
}
.glow.green{
    box-shadow:20px 20px 20px 15px green;
}
