@import "~bootstrap/scss/bootstrap.scss";

body{
    background-color: grey;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}
.container{
    background-color: black;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 15px;
    height: 200px;
    width:70px
}
.circle{
    background-color: grey;
    border-radius: 60px;
    position: relative;
    height: 40px;
    width: 40px;
}
.circle.red{
    background-color: red;
    box-shadow: 50px;
}
.circle.yellow{
    background-color: rgb(218, 218, 7);
    box-shadow: 50px;
}
.circle.green{
    background-color: green;
    box-shadow: 50px;
}
